{% extends 'index.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Kelola Suplier</h1>
			  </div>
				<div id="Loader">
				<div class="d-flex justify-content-center">
				  <div class="spinner-border text-success"  style="width: 10rem; height: 10rem;" role="status">
					<span class="visually-hidden">Loading...</span>
				  </div>
				</div>
				</div>
			  <div class="container">
			  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" 
			  data-bs-whatever="@mdo">+Tambah User</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">User Baru</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					  </div>
					  <div class="modal-body">
						<form action="{{url_for('tambahsuplier')}}" id="Suplier" method="POST">
						  <div class="mb-3">
							<label for="recipient-name" class="col-form-label">Perusahaan:</label>
							<input type="text" name="perusahaan" class="form-control" id="recipient-name">
						  </div>
						  <div class="mb-3">
							<label for="recipient-name" class="col-form-label">Kontak:</label>
							<input type="text" class="form-control" name="kontak" id="recipient-name">
						  </div>
						<div class="mb-3">
						<label for="message-text" class="col-form-label">Alamat:</label>
							<textarea class="form-control" name="alamat" style="height: 180px;" id="message-text"></textarea>
						</div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
						<button type="submit" class="btn btn-primary">Input</button>
					  </div>
					  </form>
					</div>
				  </div>
				</div>
				</div>
				<br /><br />
				  <div class="card">
					  <div class="card-header">
						Table Suplier
					  </div>
					  <div class="card-body">
							<table class="table table-bordered table-sm" id="myTable">
							  <thead class="table table-dark">
								<tr>
								  <th scope="col">No.</th>
								  <th scope="col">Perusahaan</th>
								  <th scope="col">Kontak</th>
								  <th scope="col">Alamat</th>
								  <th scope="col">Aksi</th>
								</tr>
							  </thead>
							  <tbody>
							  {% for dt in data %}
								<tr>
								  <th scope="row">{{loop.index}}</th>
								  <td>{{dt.perusahaan}}</td>
								  <td>{{dt.kontak}}</td>
								  <td>{{dt.alamat}}</td>
								  <td>
									 <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1{{dt.id}}" 
									 data-bs-whatever="@mdo"><b>+</b></button>
									 <div class="modal fade" id="exampleModal1{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										  </div>
										  <div class="modal-body">
											<form action="/editsuplier/{{dt.id}}" id="editSuplier" method="POST">
											  <div class="mb-3">
												<label for="recipient-name" class="col-form-label">Perusahaan:</label>
												<input type="text" name="perusahaan" value="{{dt.perusahaan}}" class="form-control" id="recipient-name">
											  </div>
											  <div class="mb-3">
												<label for="recipient-name" class="col-form-label">Kontak:</label>
												<input type="text" class="form-control" value="{{dt.kontak}}" name="kontak" id="recipient-name">
											  </div>
											<div class="mb-3">
											<label for="message-text" class="col-form-label">Alamat:</label>
												<textarea class="form-control" name="alamat" style="height: 180px;" id="message-text">{{dt.alamat}}</textarea>
											</div>
											<input type="hidden" value="{{dt.id}}" id="eSup">
										  <div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
											<button type="submit" class="btn btn-primary">Input</button>
										  </div>
										  </form>
										</div>
									  </div>
									</div>
									</div>
									<button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2{{dt.id}}" 
									 data-bs-whatever="@mdo"><b>X</b></button>
									 <div class="modal fade" id="exampleModal2{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
										  <div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										  </div>
										  <div class="modal-body">
											<h5>Apakah anda ingin menghapus data ini?</h5>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
											<a href="/hapusSuplier/{{dt.id}}" class="btn btn-danger">Ya,Hapus</a>
										  </div>
										  </form>
										</div>
									  </div>
									</div>
								  </td>
								</tr>
							  {% endfor %}
							  </tbody>
							</table>
					  </div>
					</div>
			  </div>
{% block tail %}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			document.querySelector("#Suplier").onsubmit = async (e) => {
				e.preventDefault();
				const req = new XMLHttpRequest();
				req.onload = () => {
					const data = JSON.parse(req.responseText);
					if(data.success) {
						alert("Data berhasil di tambahkan!");
						location.reload();
					} else {
						alert("Ada trouble");
					}
				}
				const form = document.querySelector("#Suplier");
				const datanya = new FormData(form);
				await req.open("POST", "/tambahsuplier", true);
				req.send(datanya);
			}
		});
		
		document.addEventListener("DOMContentLoaded", () => {
			document.querySelector("#editSuplier").onsubmit = async (e) => {
				e.preventDefault();
				const req = new XMLHttpRequest();
				req.onload = () => {
					const data = JSON.parse(req.responseText);
					if(data.success) {
						alert("Data berhasil di edit!");
						location.reload();
					} else {
						alert("Ada trouble");
					}
				}
				const form = document.querySelector("#editSuplier");
				const datanya = new FormData(form);
				const nilai = document.querySelector("#eSup").value;
				await req.open("POST", `/editsuplier/${nilai}`, true);
				req.send(datanya);
			}
		});
	</script>
{% endblock %}
{% endblock %}